# Proyecto Final, Parte 1: Exploración de Datos

## 1. Importación de librerías

A continuación se importarán las librerías que se usarán para realizar la exploración de datos.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import OrdinalEncoder
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

#Semilla de random_state
rs = 12345
ts = 0.2

## 2. Importación de datos

A continuación se importarán cada una de las tablas en dataframes y se mostrarán sus primeros registros para verificar que la información se haya obtenido exitosamente.

In [2]:
df_internet = pd.read_csv("internet.csv")
df_internet.head()

,customerID,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,Fiber optic,No,No,No,No,No,No

In [3]:
df_contract = pd.read_csv("contract.csv")
df_contract.head()

,customerID,BeginDate,EndDate,Type,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7590-VHVEG,2020-01-01,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,5575-GNVDE,2017-04-01,No,One year,No,Mailed check,56.95,1889.5
2,3668-QPYBK,2019-10-01,2019-12-01 00:00:00,Month-to-month,Yes,Mailed check,53.85,108.15
3,7795-CFOCW,2016-05-01,No,One year,No,Bank transfer (automatic),42.30,1840.75
4,9237-HQITU,2019-09-01,2019-11-01 00:00:00,Month-to-month,Yes,Electronic check,70.70,151.65

In [4]:
df_personal = pd.read_csv("personal.csv")
df_personal.head()

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No
3  7795-CFOCW    Male              0      No         No
4  9237-HQITU  Female              0      No         No

In [5]:
df_phone = pd.read_csv("phone.csv")
df_phone.head()

   customerID MultipleLines
0  5575-GNVDE            No
1  3668-QPYBK            No
2  9237-HQITU            No
3  9305-CDSKC           Yes
4  1452-KIOVK           Yes

## 3. Descripción de los datos

En el siguiente apartado se realizará un análisis de cada tabla y de cada una de sus columnas para verificar sus tipos de datos, presencia de valores faltantes y otras características que sean de relevancia para el análisis.

### 3.1 Internet

In [6]:
# Breve descripción de las columnas.
# No se encuentran valores faltantes.
df_internet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5517 entries, 0 to 5516
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5517 non-null   object
 1   InternetService   5517 non-null   object
 2   OnlineSecurity    5517 non-null   object
 3   OnlineBackup      5517 non-null   object
 4   DeviceProtection  5517 non-null   object
 5   TechSupport       5517 non-null   object
 6   StreamingTV       5517 non-null   object
 7   StreamingMovies   5517 non-null   object
dtypes: object(8)
memory usage: 344.9+ KB

In [7]:
# Breve descripción de las frecuencias de las columnas.
# La mayoría de las columnas son binarias, por lo que no presentarán mayor problema al realizar un modelo.
df_internet.describe(include="all")

,customerID,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
count,5517,5517,5517,5517,5517,5517,5517,5517
unique,5517,2,2,2,2,2,2,2
top,7590-VHVEG,Fiber optic,No,No,No,No,No,No
freq,1,3096,3498,3088,3095,3473,2810,2785

### 3.2 Contract

In [8]:
# Breve descripción de las columnas.
# No se encuentran valores faltantes.
df_contract.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   BeginDate         7043 non-null   object
 2   EndDate           7043 non-null   object
 3   Type              7043 non-null   object
 4   PaperlessBilling  7043 non-null   object
 5   PaymentMethod     7043 non-null   object
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   object
dtypes: float64(1), object(7)
memory usage: 440.3+ KB

In [9]:
# Breve descripción de la distribución de los datos.
# Llama la atención la columna TotalCharges, la cual debería ser de tipo numérico.
df_contract.describe(include="all")

,customerID,BeginDate,EndDate,Type,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
count,7043,7043,7043,7043,7043,7043,7043.000000,7043
unique,7043,77,5,3,2,4,NaN,6531
top,7590-VHVEG,2014-02-01,No,Month-to-month,Yes,Electronic check,NaN,
freq,1,366,5174,3875,4171,2365,NaN,11
mean,NaN,NaN,NaN,NaN,NaN,NaN,64.761692,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,30.090047,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,18.250000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,35.500000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,70.350000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,89.850000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,118.750000,NaN

In [10]:
# Verificamos la columna TotalCharges
# Vemos que el problema es que se encuentran valores faltantes en la columna TotalCharges.
# Sin embargo, estos valores no se muestran cono NaN, sino como un caracter de espacio vacío.
df_contract["totalchargesnum"] = pd.to_numeric(df_contract["TotalCharges"], errors="coerce")
df_contract[df_contract["totalchargesnum"].isna()]

,customerID,BeginDate,EndDate,Type,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,totalchargesnum
488,4472-LVYGI,2020-02-01,No,Two year,Yes,Bank transfer (automatic),52.55,,NaN
753,3115-CZMZD,2020-02-01,No,Two year,No,Mailed check,20.25,,NaN
936,5709-LVOEQ,2020-02-01,No,Two year,No,Mailed check,80.85,,NaN
1082,4367-NUYAO,2020-02-01,No,Two year,No,Mailed check,25.75,,NaN
1340,1371-DWPAZ,2020-02-01,No,Two year,No,Credit card (automatic),56.05,,NaN
3331,7644-OMVMY,2020-02-01,No,Two year,No,Mailed check,19.85,,NaN
3826,3213-VVOLG,2020-02-01,No,Two year,No,Mailed check,25.35,,NaN
4380,2520-SGTTA,2020-02-01,No,Two year,No,Mailed check,20.00,,NaN
5218,2923-ARZLG,2020-02-01,No,One year,Yes,Mailed check,19.70,,NaN
6670,4075-WKNIU,2020-02-01,No,Two year,No,Mailed check,73.35,,NaN
6754,2775-SEFEE,2020-02-01,No,Two year,Yes,Bank transfer (automatic),61.90,,NaN

In [11]:
# Verificamos los valores de la columna Type, así como su distribución.
df_contract["Type"].value_counts()

Month-to-month    3875
Two year          1695
One year          1473
Name: Type, dtype: int64

In [12]:
# ¿Por qué hay contratos a uno y dos años sin fecha de fin del contrato?
df_contract[["Type","EndDate"]].value_counts()

Type            EndDate
Month-to-month  No                     2220
Two year        No                     1647
One year        No                     1307
Month-to-month  2019-11-01 00:00:00     429
                2019-12-01 00:00:00     419
                2020-01-01 00:00:00     413
                2019-10-01 00:00:00     394
One year        2019-10-01 00:00:00      56
                2019-11-01 00:00:00      39
                2020-01-01 00:00:00      37
                2019-12-01 00:00:00      34
Two year        2019-11-01 00:00:00      17
                2019-12-01 00:00:00      13
                2020-01-01 00:00:00      10
                2019-10-01 00:00:00       8
dtype: int64

In [13]:
# Verificamos los valores de la columna PaymentMethod, así como su distribución.
df_contract["PaymentMethod"].value_counts()

Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: PaymentMethod, dtype: int64

In [14]:
# Verificamos la distribución de los valores de la columna BeginDate.
df_contract["BeginDate"].value_counts().sort_index()

2013-10-01      3
2013-11-01      2
2013-12-01      3
2014-01-01      7
2014-02-01    366
             ...
2019-10-01    237
2019-11-01    237
2019-12-01    220
2020-01-01    233
2020-02-01     11
Name: BeginDate, Length: 77, dtype: int64

In [15]:
# Verificamos los valores de la columna EndDate, así como su distribución.
# Vemos que la mayoría de contratos son de duración indefinida.
df_contract["EndDate"].value_counts()

No                     5174
2019-11-01 00:00:00     485
2019-12-01 00:00:00     466
2020-01-01 00:00:00     460
2019-10-01 00:00:00     458
Name: EndDate, dtype: int64

### 3.3 Personal

In [16]:
# Breve descripción de las columnas.
# No se encuentran valores faltantes.
df_personal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [17]:
# Breve descripción de la distribución de los datos.
df_personal.describe(include="all")

        customerID gender  SeniorCitizen Partner Dependents
count         7043   7043    7043.000000    7043       7043
unique        7043      2            NaN       2          2
top     7590-VHVEG   Male            NaN      No         No
freq             1   3555            NaN    3641       4933
mean           NaN    NaN       0.162147     NaN        NaN
std            NaN    NaN       0.368612     NaN        NaN
min            NaN    NaN       0.000000     NaN        NaN
25%            NaN    NaN       0.000000     NaN        NaN
50%            NaN    NaN       0.000000     NaN        NaN
75%            NaN    NaN       0.000000     NaN        NaN
max            NaN    NaN       1.000000     NaN        NaN

In [18]:
# Verificamos los valores de la columna SeniorCitizen.
# Concluimos que la mayoría de las columnas de esta tabla son binarias, por lo que no presentarán mayor problema al entrenar un modelo.
df_personal["SeniorCitizen"].value_counts()

0    5901
1    1142
Name: SeniorCitizen, dtype: int64

### 3.4 Phone

In [19]:
# Breve descripción de las columnas.
# No se encuentran valores faltantes.
df_phone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6361 entries, 0 to 6360
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     6361 non-null   object
 1   MultipleLines  6361 non-null   object
dtypes: object(2)
memory usage: 99.5+ KB

In [20]:
# Verificamos la distribución de los datos.
# Vemos que solo poseen un identificador y una columna binaria.
df_phone.describe(include="all")

        customerID MultipleLines
count         6361          6361
unique        6361             2
top     5575-GNVDE            No
freq             1          3390

## 4. Unión de las tablas

In [21]:
df_internet["customerID"] = df_internet["customerID"].astype(str)
df_contract["customerID"] = df_contract["customerID"].astype(str)
df_personal["customerID"] = df_personal["customerID"].astype(str)
df_phone["customerID"] = df_phone["customerID"].astype(str)

In [22]:
df_full = pd.merge(df_internet,df_contract,on="customerID",how="outer")
df_full = pd.merge(df_full,df_personal,on="customerID",how="outer")
df_full = pd.merge(df_full,df_phone,on="customerID",how="outer")
df_full.head()

,customerID,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,BeginDate,EndDate,...,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,totalchargesnum,gender,SeniorCitizen,Partner,Dependents,MultipleLines
0,7590-VHVEG,DSL,No,Yes,No,No,No,No,2020-01-01,No,...,Yes,Electronic check,29.85,29.85,29.85,Female,0,Yes,No,NaN
1,5575-GNVDE,DSL,Yes,No,Yes,No,No,No,2017-04-01,No,...,No,Mailed check,56.95,1889.5,1889.50,Male,0,No,No,No
2,3668-QPYBK,DSL,Yes,Yes,No,No,No,No,2019-10-01,2019-12-01 00:00:00,...,Yes,Mailed check,53.85,108.15,108.15,Male,0,No,No,No
3,7795-CFOCW,DSL,Yes,No,Yes,Yes,No,No,2016-05-01,No,...,No,Bank transfer (automatic),42.30,1840.75,1840.75,Male,0,No,No,NaN
4,9237-HQITU,Fiber optic,No,No,No,No,No,No,2019-09-01,2019-11-01 00:00:00,...,Yes,Electronic check,70.70,151.65,151.65,Female,0,No,No,No

In [23]:
# Existen varias filas con valores faltantes
df_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   InternetService   5517 non-null   object
 2   OnlineSecurity    5517 non-null   object
 3   OnlineBackup      5517 non-null   object
 4   DeviceProtection  5517 non-null   object
 5   TechSupport       5517 non-null   object
 6   StreamingTV       5517 non-null   object
 7   StreamingMovies   5517 non-null   object
 8   BeginDate         7043 non-null   object
 9   EndDate           7043 non-null   object
 10  Type              7043 non-null   object
 11  PaperlessBilling  7043 non-null   object
 12  PaymentMethod     7043 non-null   object
 13  MonthlyCharges    7043 non-null   float64
 14  TotalCharges      7043 non-null   object
 15  totalchargesnum   7032 non-null   float64
 16  gender            7043 non-null   object
 17  SeniorCitizen     7043 non-null   int64
 18  Partner           7043 non-null   object
 19  Dependents        7043 non-null   object
 20  MultipleLines     6361 non-null   object
dtypes: float64(2), int64(1), object(18)
memory usage: 1.2+ MB

In [24]:
df_null = df_full[df_full.isnull().any(axis=1)]
df_null.head()

,customerID,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,BeginDate,EndDate,...,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,totalchargesnum,gender,SeniorCitizen,Partner,Dependents,MultipleLines
0,7590-VHVEG,DSL,No,Yes,No,No,No,No,2020-01-01,No,...,Yes,Electronic check,29.85,29.85,29.85,Female,0,Yes,No,NaN
3,7795-CFOCW,DSL,Yes,No,Yes,Yes,No,No,2016-05-01,No,...,No,Bank transfer (automatic),42.30,1840.75,1840.75,Male,0,No,No,NaN
7,6713-OKOMC,DSL,Yes,No,No,No,No,No,2019-04-01,No,...,No,Mailed check,29.75,301.9,301.90,Female,0,No,No,NaN
18,8779-QRDMV,DSL,No,No,Yes,No,No,Yes,2019-11-01,2019-12-01 00:00:00,...,Yes,Electronic check,39.65,39.65,39.65,Male,1,No,No,NaN
23,8665-UTDHZ,DSL,No,Yes,No,No,No,No,2019-11-01,2019-12-01 00:00:00,...,No,Electronic check,30.20,30.2,30.20,Male,0,Yes,Yes,NaN

In [25]:
# Existen 2211 clientes que no están en las tablas de internet o phone.
df_null.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2211 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2211 non-null   object
 1   InternetService   685 non-null    object
 2   OnlineSecurity    685 non-null    object
 3   OnlineBackup      685 non-null    object
 4   DeviceProtection  685 non-null    object
 5   TechSupport       685 non-null    object
 6   StreamingTV       685 non-null    object
 7   StreamingMovies   685 non-null    object
 8   BeginDate         2211 non-null   object
 9   EndDate           2211 non-null   object
 10  Type              2211 non-null   object
 11  PaperlessBilling  2211 non-null   object
 12  PaymentMethod     2211 non-null   object
 13  MonthlyCharges    2211 non-null   float64
 14  TotalCharges      2211 non-null   object
 15  totalchargesnum   2200 non-null   float64
 16  gender            2211 non-null   object
 17  SeniorCitizen     2211 non-null   int64
 18  Partner           2211 non-null   object
 19  Dependents        2211 non-null   object
 20  MultipleLines     1529 non-null   object
dtypes: float64(2), int64(1), object(18)
memory usage: 380.0+ KB

## Tratamiento de variables

In [26]:
df_full.columns = map(str.lower,df_full.columns)
df_full.columns

Index(['customerid', 'internetservice', 'onlinesecurity', 'onlinebackup',
       'deviceprotection', 'techsupport', 'streamingtv', 'streamingmovies',
       'begindate', 'enddate', 'type', 'paperlessbilling', 'paymentmethod',
       'monthlycharges', 'totalcharges', 'totalchargesnum', 'gender',
       'seniorcitizen', 'partner', 'dependents', 'multiplelines'],
      dtype='object')

In [27]:
df_full.head()

,customerid,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,begindate,enddate,...,paperlessbilling,paymentmethod,monthlycharges,totalcharges,totalchargesnum,gender,seniorcitizen,partner,dependents,multiplelines
0,7590-VHVEG,DSL,No,Yes,No,No,No,No,2020-01-01,No,...,Yes,Electronic check,29.85,29.85,29.85,Female,0,Yes,No,NaN
1,5575-GNVDE,DSL,Yes,No,Yes,No,No,No,2017-04-01,No,...,No,Mailed check,56.95,1889.5,1889.50,Male,0,No,No,No
2,3668-QPYBK,DSL,Yes,Yes,No,No,No,No,2019-10-01,2019-12-01 00:00:00,...,Yes,Mailed check,53.85,108.15,108.15,Male,0,No,No,No
3,7795-CFOCW,DSL,Yes,No,Yes,Yes,No,No,2016-05-01,No,...,No,Bank transfer (automatic),42.30,1840.75,1840.75,Male,0,No,No,NaN
4,9237-HQITU,Fiber optic,No,No,No,No,No,No,2019-09-01,2019-11-01 00:00:00,...,Yes,Electronic check,70.70,151.65,151.65,Female,0,No,No,No

In [28]:
# Creación de nuestra variable objetivo.
df_full["ended"] = (df_full["enddate"] == "No")*1
df_full.head()

,customerid,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,begindate,enddate,...,paymentmethod,monthlycharges,totalcharges,totalchargesnum,gender,seniorcitizen,partner,dependents,multiplelines,ended
0,7590-VHVEG,DSL,No,Yes,No,No,No,No,2020-01-01,No,...,Electronic check,29.85,29.85,29.85,Female,0,Yes,No,NaN,1
1,5575-GNVDE,DSL,Yes,No,Yes,No,No,No,2017-04-01,No,...,Mailed check,56.95,1889.5,1889.50,Male,0,No,No,No,1
2,3668-QPYBK,DSL,Yes,Yes,No,No,No,No,2019-10-01,2019-12-01 00:00:00,...,Mailed check,53.85,108.15,108.15,Male,0,No,No,No,0
3,7795-CFOCW,DSL,Yes,No,Yes,Yes,No,No,2016-05-01,No,...,Bank transfer (automatic),42.30,1840.75,1840.75,Male,0,No,No,NaN,1
4,9237-HQITU,Fiber optic,No,No,No,No,No,No,2019-09-01,2019-11-01 00:00:00,...,Electronic check,70.70,151.65,151.65,Female,0,No,No,No,0

In [29]:
pd.set_option('display.max_columns', None)
df_full.describe(include="all")

,customerid,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,begindate,enddate,type,paperlessbilling,paymentmethod,monthlycharges,totalcharges,totalchargesnum,gender,seniorcitizen,partner,dependents,multiplelines,ended
count,7043,5517,5517,5517,5517,5517,5517,5517,7043,7043,7043,7043,7043,7043.000000,7043,7032.000000,7043,7043.000000,7043,7043,6361,7043.000000
unique,7043,2,2,2,2,2,2,2,77,5,3,2,4,NaN,6531,NaN,2,NaN,2,2,2,NaN
top,7590-VHVEG,Fiber optic,No,No,No,No,No,No,2014-02-01,No,Month-to-month,Yes,Electronic check,NaN,20.2,NaN,Male,NaN,No,No,No,NaN
freq,1,3096,3498,3088,3095,3473,2810,2785,366,5174,3875,4171,2365,NaN,11,NaN,3555,NaN,3641,4933,3390,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.761692,NaN,2283.300441,NaN,0.162147,NaN,NaN,NaN,0.734630
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.090047,NaN,2266.771362,NaN,0.368612,NaN,NaN,NaN,0.441561
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.250000,NaN,18.800000,NaN,0.000000,NaN,NaN,NaN,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.500000,NaN,401.450000,NaN,0.000000,NaN,NaN,NaN,0.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.350000,NaN,1397.475000,NaN,0.000000,NaN,NaN,NaN,1.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.850000,NaN,3794.737500,NaN,0.000000,NaN,NaN,NaN,1.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.750000,NaN,8684.800000,NaN,1.000000,NaN,NaN,NaN,1.000000

In [30]:
categorical = ["internetservice"
               ,"onlinesecurity"
               ,"onlinebackup"
               ,"deviceprotection"
               ,"techsupport"
               ,"streamingtv"
               ,"streamingmovies"
               ,"type"
               ,"paperlessbilling"
               ,"paymentmethod"
               ,"gender"
               ,"seniorcitizen"
               ,"partner"
               ,"dependents"
               ,"multiplelines"]

In [31]:
df_enc = pd.DataFrame.copy(df_full)
encoder = OrdinalEncoder()
encoder.fit(df_enc[categorical])
df_enc[categorical] = encoder.transform(df_enc[categorical])
df_enc.head()

,customerid,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,begindate,enddate,type,paperlessbilling,paymentmethod,monthlycharges,totalcharges,totalchargesnum,gender,seniorcitizen,partner,dependents,multiplelines,ended
0,7590-VHVEG,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2020-01-01,No,0.0,1.0,2.0,29.85,29.85,29.85,0.0,0.0,1.0,0.0,NaN,1
1,5575-GNVDE,0.0,1.0,0.0,1.0,0.0,0.0,0.0,2017-04-01,No,1.0,0.0,3.0,56.95,1889.5,1889.50,1.0,0.0,0.0,0.0,0.0,1
2,3668-QPYBK,0.0,1.0,1.0,0.0,0.0,0.0,0.0,2019-10-01,2019-12-01 00:00:00,0.0,1.0,3.0,53.85,108.15,108.15,1.0,0.0,0.0,0.0,0.0,0
3,7795-CFOCW,0.0,1.0,0.0,1.0,1.0,0.0,0.0,2016-05-01,No,1.0,0.0,0.0,42.30,1840.75,1840.75,1.0,0.0,0.0,0.0,NaN,1
4,9237-HQITU,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2019-09-01,2019-11-01 00:00:00,0.0,1.0,2.0,70.70,151.65,151.65,0.0,0.0,0.0,0.0,0.0,0

In [32]:
df_enc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerid        7043 non-null   object
 1   internetservice   5517 non-null   float64
 2   onlinesecurity    5517 non-null   float64
 3   onlinebackup      5517 non-null   float64
 4   deviceprotection  5517 non-null   float64
 5   techsupport       5517 non-null   float64
 6   streamingtv       5517 non-null   float64
 7   streamingmovies   5517 non-null   float64
 8   begindate         7043 non-null   object
 9   enddate           7043 non-null   object
 10  type              7043 non-null   float64
 11  paperlessbilling  7043 non-null   float64
 12  paymentmethod     7043 non-null   float64
 13  monthlycharges    7043 non-null   float64
 14  totalcharges      7043 non-null   object
 15  totalchargesnum   7032 non-null   float64
 16  gender            7043 non-null   float64
 17  seniorcitizen     7043 non-null   float64
 18  partner           7043 non-null   float64
 19  dependents        7043 non-null   float64
 20  multiplelines     6361 non-null   float64
 21  ended             7043 non-null   int32
dtypes: float64(17), int32(1), object(4)
memory usage: 1.2+ MB

In [33]:
df_enc.drop(df_enc.query("begindate == '2020-02-01'").index,inplace=True)

In [34]:
df_enc.dropna()

,customerid,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,begindate,enddate,type,paperlessbilling,paymentmethod,monthlycharges,totalcharges,totalchargesnum,gender,seniorcitizen,partner,dependents,multiplelines,ended
1,5575-GNVDE,0.0,1.0,0.0,1.0,0.0,0.0,0.0,2017-04-01,No,1.0,0.0,3.0,56.95,1889.5,1889.50,1.0,0.0,0.0,0.0,0.0,1
2,3668-QPYBK,0.0,1.0,1.0,0.0,0.0,0.0,0.0,2019-10-01,2019-12-01 00:00:00,0.0,1.0,3.0,53.85,108.15,108.15,1.0,0.0,0.0,0.0,0.0,0
4,9237-HQITU,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2019-09-01,2019-11-01 00:00:00,0.0,1.0,2.0,70.70,151.65,151.65,0.0,0.0,0.0,0.0,0.0,0
5,9305-CDSKC,1.0,0.0,0.0,1.0,0.0,1.0,1.0,2019-03-01,2019-11-01 00:00:00,0.0,1.0,2.0,99.65,820.5,820.50,0.0,0.0,0.0,0.0,1.0,0
6,1452-KIOVK,1.0,0.0,1.0,0.0,0.0,1.0,0.0,2018-04-01,No,0.0,1.0,1.0,89.10,1949.4,1949.40,1.0,0.0,0.0,1.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5510,8456-QDAVC,1.0,0.0,0.0,0.0,0.0,1.0,0.0,2018-07-01,No,0.0,1.0,0.0,78.70,1495.1,1495.10,1.0,0.0,0.0,0.0,0.0,1
5512,6840-RESVB,0.0,1.0,0.0,1.0,1.0,1.0,1.0,2018-02-01,No,1.0,1.0,3.0,84.80,1990.5,1990.50,1.0,0.0,1.0,1.0,1.0,1
5513,2234-XADUH,1.0,0.0,1.0,1.0,0.0,1.0,1.0,2014-02-01,No,1.0,1.0,1.0,103.20,7362.9,7362.90,0.0,0.0,1.0,1.0,1.0,1
5515,8361-LTMKD,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2019-07-01,2019-11-01 00:00:00,0.0,1.0,3.0,74.40,306.6,306.60,1.0,1.0,1.0,0.0,1.0,0
5516,3186-AJIEK,1.0,1.0,0.0,1.0,1.0,1.0,1.0,2014-08-01,No,2.0,1.0,0.0,105.65,6844.5,6844.50,1.0,0.0,0.0,0.0,0.0,1

In [35]:
df_enc["begindate"] = pd.to_datetime(df_enc["begindate"])

In [36]:
df_enc["enddate"].replace("No",None,inplace=True)
df_enc["enddate"] = pd.to_datetime(df_enc["enddate"])
df_enc[df_enc["enddate"].isna()]

,customerid,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,begindate,enddate,type,paperlessbilling,paymentmethod,monthlycharges,totalcharges,totalchargesnum,gender,seniorcitizen,partner,dependents,multiplelines,ended
0,7590-VHVEG,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2020-01-01,NaT,0.0,1.0,2.0,29.85,29.85,29.85,0.0,0.0,1.0,0.0,NaN,1
1,5575-GNVDE,0.0,1.0,0.0,1.0,0.0,0.0,0.0,2017-04-01,NaT,1.0,0.0,3.0,56.95,1889.5,1889.50,1.0,0.0,0.0,0.0,0.0,1
3,7795-CFOCW,0.0,1.0,0.0,1.0,1.0,0.0,0.0,2016-05-01,NaT,1.0,0.0,0.0,42.30,1840.75,1840.75,1.0,0.0,0.0,0.0,NaN,1
6,1452-KIOVK,1.0,0.0,1.0,0.0,0.0,1.0,0.0,2018-04-01,NaT,0.0,1.0,1.0,89.10,1949.4,1949.40,1.0,0.0,0.0,1.0,1.0,1
7,6713-OKOMC,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2019-04-01,NaT,0.0,0.0,3.0,29.75,301.9,301.90,0.0,0.0,0.0,0.0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,4807-IZYOZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-11-01,NaT,2.0,0.0,0.0,20.65,1020.75,1020.75,0.0,0.0,0.0,0.0,0.0,1
7039,9710-NJERN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-11-01,NaT,2.0,0.0,3.0,20.15,826,826.00,0.0,0.0,0.0,0.0,0.0,1
7040,9837-FWLCH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-02-01,NaT,0.0,1.0,2.0,19.20,239,239.00,1.0,0.0,1.0,1.0,0.0,1
7041,0871-OPBXW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-12-01,NaT,0.0,1.0,3.0,20.05,39.25,39.25,0.0,0.0,0.0,0.0,0.0,1
7042,2569-WGERO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-02-01,NaT,2.0,1.0,0.0,21.15,1419.4,1419.40,0.0,0.0,0.0,0.0,0.0,1

In [37]:
df_enc["multiplelines"].fillna(0,inplace=True)

In [38]:
df_enc["months"] = (df_enc["totalchargesnum"] / df_enc["monthlycharges"]).astype(int)
df_enc.head()

,customerid,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,begindate,enddate,type,paperlessbilling,paymentmethod,monthlycharges,totalcharges,totalchargesnum,gender,seniorcitizen,partner,dependents,multiplelines,ended,months
0,7590-VHVEG,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2020-01-01,NaT,0.0,1.0,2.0,29.85,29.85,29.85,0.0,0.0,1.0,0.0,0.0,1,1
1,5575-GNVDE,0.0,1.0,0.0,1.0,0.0,0.0,0.0,2017-04-01,NaT,1.0,0.0,3.0,56.95,1889.5,1889.50,1.0,0.0,0.0,0.0,0.0,1,33
2,3668-QPYBK,0.0,1.0,1.0,0.0,0.0,0.0,0.0,2019-10-01,2019-12-01,0.0,1.0,3.0,53.85,108.15,108.15,1.0,0.0,0.0,0.0,0.0,0,2
3,7795-CFOCW,0.0,1.0,0.0,1.0,1.0,0.0,0.0,2016-05-01,NaT,1.0,0.0,0.0,42.30,1840.75,1840.75,1.0,0.0,0.0,0.0,0.0,1,43
4,9237-HQITU,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2019-09-01,2019-11-01,0.0,1.0,2.0,70.70,151.65,151.65,0.0,0.0,0.0,0.0,0.0,0,2

In [39]:
df_enc["enddate2"] = ((df_enc["begindate"].dt.to_period("M")) + df_enc["months"]).dt.to_timestamp()
df_enc.head()

,customerid,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,begindate,enddate,type,paperlessbilling,paymentmethod,monthlycharges,totalcharges,totalchargesnum,gender,seniorcitizen,partner,dependents,multiplelines,ended,months,enddate2
0,7590-VHVEG,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2020-01-01,NaT,0.0,1.0,2.0,29.85,29.85,29.85,0.0,0.0,1.0,0.0,0.0,1,1,2020-02-01
1,5575-GNVDE,0.0,1.0,0.0,1.0,0.0,0.0,0.0,2017-04-01,NaT,1.0,0.0,3.0,56.95,1889.5,1889.50,1.0,0.0,0.0,0.0,0.0,1,33,2020-01-01
2,3668-QPYBK,0.0,1.0,1.0,0.0,0.0,0.0,0.0,2019-10-01,2019-12-01,0.0,1.0,3.0,53.85,108.15,108.15,1.0,0.0,0.0,0.0,0.0,0,2,2019-12-01
3,7795-CFOCW,0.0,1.0,0.0,1.0,1.0,0.0,0.0,2016-05-01,NaT,1.0,0.0,0.0,42.30,1840.75,1840.75,1.0,0.0,0.0,0.0,0.0,1,43,2019-12-01
4,9237-HQITU,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2019-09-01,2019-11-01,0.0,1.0,2.0,70.70,151.65,151.65,0.0,0.0,0.0,0.0,0.0,0,2,2019-11-01

In [40]:
df_enc["enddate2"].value_counts()
df_enc["enddate"].fillna(df_enc["enddate2"],inplace=True)

In [41]:
df_enc.drop(["enddate2","totalcharges","customerid"],axis=1,inplace=True)

df_enc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   internetservice   5512 non-null   float64
 1   onlinesecurity    5512 non-null   float64
 2   onlinebackup      5512 non-null   float64
 3   deviceprotection  5512 non-null   float64
 4   techsupport       5512 non-null   float64
 5   streamingtv       5512 non-null   float64
 6   streamingmovies   5512 non-null   float64
 7   begindate         7032 non-null   datetime64[ns]
 8   enddate           7032 non-null   datetime64[ns]
 9   type              7032 non-null   float64
 10  paperlessbilling  7032 non-null   float64
 11  paymentmethod     7032 non-null   float64
 12  monthlycharges    7032 non-null   float64
 13  totalchargesnum   7032 non-null   float64
 14  gender            7032 non-null   float64
 15  seniorcitizen     7032 non-null   float64
 16  partner           7032 non-null   float64
 17  dependents        7032 non-null   float64
 18  multiplelines     7032 non-null   float64
 19  ended             7032 non-null   int32
 20  months            7032 non-null   int32
dtypes: datetime64[ns](2), float64(17), int32(2)
memory usage: 1.1 MB

In [42]:
df_enc.dropna(inplace=True)
df_enc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5512 entries, 0 to 5516
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   internetservice   5512 non-null   float64
 1   onlinesecurity    5512 non-null   float64
 2   onlinebackup      5512 non-null   float64
 3   deviceprotection  5512 non-null   float64
 4   techsupport       5512 non-null   float64
 5   streamingtv       5512 non-null   float64
 6   streamingmovies   5512 non-null   float64
 7   begindate         5512 non-null   datetime64[ns]
 8   enddate           5512 non-null   datetime64[ns]
 9   type              5512 non-null   float64
 10  paperlessbilling  5512 non-null   float64
 11  paymentmethod     5512 non-null   float64
 12  monthlycharges    5512 non-null   float64
 13  totalchargesnum   5512 non-null   float64
 14  gender            5512 non-null   float64
 15  seniorcitizen     5512 non-null   float64
 16  partner           5512 non-null   float64
 17  dependents        5512 non-null   float64
 18  multiplelines     5512 non-null   float64
 19  ended             5512 non-null   int32
 20  months            5512 non-null   int32
dtypes: datetime64[ns](2), float64(17), int32(2)
memory usage: 904.3 KB

In [43]:
df_enc["begindate2"] = df_enc["begindate"].astype("int64")
df_enc["enddate2"] = df_enc["enddate"].astype("int64")

In [44]:
Xo = df_enc.drop(["ended","begindate","enddate"],axis=1)
y = df_enc["ended"]
val_size = ts / (1 - ts) # 0.2 / 0.8 = 0.25


X_train0, X_test, y_train0, y_test = train_test_split(Xo, y, test_size=ts, random_state = rs)

X_train, X_val, y_train, y_val = train_test_split(X_train0, y_train0, 
    test_size=val_size, random_state=rs)

In [45]:
numeric = ["monthlycharges","totalchargesnum","months","begindate2","enddate2"]
scaler = StandardScaler()
scaler.fit(X_train[numeric])

X_train[numeric] = scaler.transform(X_train[numeric])
X_val[numeric] = scaler.transform(X_val[numeric])
X_test[numeric] = scaler.transform(X_test[numeric])

In [46]:
import lightgbm as lgb
lgb_categorical = ["internetservice"
               ,"onlinesecurity"
               ,"onlinebackup"
               ,"deviceprotection"
               ,"techsupport"
               ,"streamingtv"
               ,"streamingmovies"
               ,"type"
               ,"paperlessbilling"
               ,"paymentmethod"
               ,"gender"
               ,"seniorcitizen"
               ,"partner"
               ,"dependents"
               ,"multiplelines"
               ,"begindate2"
               ,"enddate2"]
lgb_train = lgb.Dataset(X_train, label = y_train, categorical_feature = lgb_categorical,free_raw_data=False)
lgb_val =  lgb.Dataset(X_val,  label = y_val, reference = lgb_train,free_raw_data=False)
lgb_test = lgb.Dataset(X_test, label= y_test, reference = lgb_train,free_raw_data=False)

In [47]:
num_round = 300
learning_rates = [0.002,0.0025,0.003,0.06,0.07,0.08,0.85,0.9]
models = []

In [48]:
%%time
# Train the model
for l in learning_rates:
    # Set parameters for regression
    print("Learning rate: ", l)
    params = {
        'objective': 'binary',
        'metric': 'auc',
        'verbosity': -1,
        'seed': rs,
        'learning_rate': l
    }
    lgb_model = lgb.train(params, lgb_train, num_round, valid_sets=[lgb_val])#, early_stopping_rounds=10)
    models.append({"learning_rate": l,
                   "model": lgb_model,
                   "auc": lgb_model.best_score["valid_0"]["auc"],
                   "best_iteration": lgb_model.best_iteration})

Learning rate:  0.002
Learning rate:  0.0025
Learning rate:  0.003
Learning rate:  0.06
Learning rate:  0.07
Learning rate:  0.08
Learning rate:  0.85
Learning rate:  0.9
CPU times: total: 9.44 s
Wall time: 16.3 s

In [49]:
pd.DataFrame(models)

,learning_rate,model,auc,best_iteration
0,0.0020,<lightgbm.basic.Booster object at 0x000001C7F7...,0.853273,0
1,0.0025,<lightgbm.basic.Booster object at 0x000001C7F7...,0.860867,0
2,0.0030,<lightgbm.basic.Booster object at 0x000001C7F7...,0.869103,0
3,0.0600,<lightgbm.basic.Booster object at 0x000001C7F7...,0.882849,0
4,0.0700,<lightgbm.basic.Booster object at 0x000001C7F7...,0.878749,0
5,0.0800,<lightgbm.basic.Booster object at 0x000001C7F7...,0.880244,0
6,0.8500,<lightgbm.basic.Booster object at 0x000001C7F7...,0.845456,0
7,0.9000,<lightgbm.basic.Booster object at 0x000001C7F7...,0.844541,0

In [50]:
boosted_best_model = max(models, key=lambda x:x['auc'])
boosted_best_model

{'learning_rate': 0.06,
 'model': <lightgbm.basic.Booster at 0x1c7f79ad1c0>,
 'auc': 0.8828488215721081,
 'best_iteration': 0}

In [51]:
%%time
# Predicción con el conjunto de prueba
lgb_y_pred = boosted_best_model["model"].predict(X_test)

CPU times: total: 31.2 ms
Wall time: 24.8 ms

In [52]:
# Calcular el RMSE
lgb_auc = roc_auc_score(y_test, lgb_y_pred)
print(f'AUC: {lgb_auc}')

AUC: 0.8868102143224904